@charset "UTF-8";
#slider {
    width: 1100px;
    height: 800px;
    background-color: white;
    margin: 0 auto;
    position: relative;
}
#slider > div {
    display: inline-block;
}
.sbox1 {
    width: 140px;
    height: 750px;
    background-color: black;
    margin: 20px;
    background-image: url('img/sub_film.png'), url('img/sub_film.png');
    background-repeat: repeat-y;
    background-position: left top, right top;
    background-size: 15px;
}
.sbox1 > .imgbox {
    width: 100px;
    height: 100px;
    margin: 20px;
}
.sbox1 > .imgbox > img {
    width: 100px;
    height: 100px;
    cursor: pointer;
}
.sbox2 {
    width: 420px;
    height: 300px;
    position: absolute;
    top: 150px;
    left: 195px;
}
.sbox2 .subback2,
.subetc2,
.subno2,
.subtop2,
.subbottom2 {
    display: none;
}
.sbox3 {
    width: 420px;
    height: 700px;
    position: absolute;
    top: 50px;
    right: 30px;
    border-radius: 10px;
    background-color: #f7f7f7;
}
.sbox3 h1 {
    margin: 20px 30px;
    text-align: left;
}
.sbox3 p {
    margin: 0 0 20px 30px;
}
.sbox3 span {
    background-color: red;
    color: #fff;
    padding: 20px;
    display: inline-block;
    margin: 20px
}
.sbox3 .boldtext {
    font-weight: bold;
    height: 3em;
    width: 7em;
    font-size: 16px;
    text-align: left;
    padding: 0 0 0 30px;
}
.sbox3 .lighttext {
    font-size: 13px;
}
.sbox3 #price1 {
    font-size: 24px;
    font-weight: bold;
}
.sbox3 #salecoupon {
    font-weight: bold;
    text-align: left;
    padding: 0 0 0 30px;
}
.sbox3 .coupon {
    font-size: 12px;
    border: 1px solid #666;
    background-color: white;
    display: inline-block;
    color: red;
    font-weight: bold;
    padding: 5px 25px;
    background-image: url('img/sub_download.png');
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
}
.sbox3 .coupon:hover {
    background-color: gold;
    font-size: 14px;
}
.sbox3 .quantity {
    background-color: #f7f7f7;
    display: block;
    color: black;
    margin: 20px;
    padding: 0;
    height: 30px;
}
.sbox3 .quantity2 {
    background-color: #f7f7f7;
    display: inline-block;
    font-weight: bold;
    margin: 0 45px 0 12px;
}
.sbox3 .quantity > span {
    margin: 0;
    box-sizing: content-box;
    padding: 0;
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 17.5px;
    background-color: white;
    color: black;
    border: 1px solid #666;
}
.sbox3 .quantity > button {
    width: 30px;
    height: 32px;
    cursor: pointer;
    background-color: white;
    border: 1px solid #666;
    font-size: 18px;
}
.sbox3 > a > .buy {
    color: white;
    background-color: black;
    border-radius: 30px;
    padding: 10px 50px;
    display: inline-block;
    font-weight: bold;
}
.sbox3 > a > .buy2 {
    border-radius: 30px;
    border: 1px solid #666;
    color: black;
    background-color: white;
    padding: 10px 50px;
    display: inline-block;
    font-weight: bold;
}
.sbox3>a>.buy2:hover {
    background-color: red;
    color: white;
}
#object1 {
    width: 1100px;
    height: 12400px;
    margin: 0 auto;
    position: relative;
}
#object1 > .stickbox {
    position: sticky;
    top: 0;
    background-color: gray;
    width: 100%;
    height: 100px;
}
#object1 > .stickbox > .navanchor {
    width: 550px;
    height: 40px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 30px;
    right: 180px;
}
.navanchor li {
    margin: 0 0 0 17px;
}
.navanchor li a {
    font-size: 14px;
    line-height: 40px;
    color: white;
}
.navanchor li a:hover {
    color: white;
}
.objecttitle {
    width: 100px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}
.buybtn > button {
    background-color: white;
    border-radius: 10px;
    color: black;
    width: 110px;
    height: 30px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
    float: right;
    margin: -50px 40px 0 0;
}
.buybtn>button:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}
.objectimg {
    width: 1100px;
    height: auto;
    background-color: black;
}
.objectimg img {
    width: 1100px;
    height: auto;
}
#object2 {
    width: 1100px;
    height: 935px;
}
#object2 h1 {
    text-align: center;
}
#object2 table {
    text-align: center;
    width: 1100px;
}
#object2 table td {
    width: 50%;
}
#object2 .obt2table td {
    width: 33%;
}
#object2 p {
    margin: 0;
}
#object2 figcaption {
    font-size: 18px;
}
#object3 {
    width: 1100px;
    height: 700px;
}
#object3 h1 {
    text-align: center;
}
.obt3img {
    width: 250px;
    height: 150px;
    margin: 20px 20px 20px 70px;
    display: inline-block;
    box-shadow: 4px 4px 4px 2px #eee;
    border: 1px solid #eee;
}
.obt3img img {
    width: 180px;
    height: 100px;
    margin: 0 0 0 35px;
    cursor: pointer;
}
.obt3img p {
    text-align: center;
    line-height: 30px;
}
#object4 {
    width: 1100px;
    height: 700px;
}
#object4 div {
    width: 250px;
    height: 300px;
    display: inline-block;
    margin: 20px 10px 10px;
    border: 1px solid #999;
}
#object4 img {
    width: 250px;
    height: 200px;
    cursor: pointer;
}
#object4 h1 {
    text-align: center;
}
#object4 p {
    text-align: center;
    font-size: 14px;
    line-height: 30px;
}
#object5 {
    width: 1100px;
    height: 670px;
}
#object5 h1 {
    line-height: 70px;
}
#object5 div {
    width: 250px;
    height: 250px;
    display: inline-block;
    margin: 10px;
}
#object5 img {
    width: 250px;
    height: 250px;
    cursor: pointer;
}
#object6 {
    width: 1100px;
    height: 1050px;
}
#object6 h3 {
    margin: 0 0 10px 5px;
}
#object6 p {
    font-size: 14px;
    margin: 0 0 0 20px;
    color: gray;
    line-height: 30px;
}